# Core
flask
requests
python-dotenv
pymongo
openai-agents==0.0.9
matplotlib

# Agendamentos e jobs
apscheduler

# Auxiliares
tqdm
httpx
typing-extensions
streamlit
pandas

#----------------------------------------------------------------------
# Ativar o ambiente virtual

# python -m venv venv
# .\venv\Scripts\activate
# 

# --------------------------------------------------------

# python.exe -m pip install --upgrade pip
# pip install --upgrade pip
# pip install -r requirements.txt
# pip install streamlit pymongo pandas



# pip install --upgrade --force-reinstall openai-agents
# pip install wordcloud‑1.9.3‑cp311‑cp311‑win_amd64.whl
# pip install wordcloud --upgrade --force-reinstall --no-cache-dir

# brew install --cask ngrok   no mac
# choco install ngrok
# ./ngrok http 500
# ./ngrok config add-authtoken 2tfWBwF05kG3bSzxVD2JyizdDkY_2fsHFYSxPABgGQ53ezSMa




# ==============================================
#   iniciacao no mac

  
# pip install --upgrade pip
# pip install -r requirements.txt
# pip install openai-agents --upgrade --force-reinstall
# brew install --cask ngrok
# ngrok config add-authtoken 2tfWBwF05kG3bSzxVD2JyizdDkY_2fsHFYSxPABgGQ53ezSMa
# ngrok http 5000


# find . | grep __pycache__ | xargs rm -r
